/*
.post-content {
    opacity: 0.5;
    top:5;
    left:0;
    position: absolute;
}*/

html {
    margin:    0 auto;
    max-width: 900px;
}

p {
 margin-left: 5px;
 font-size: 16px;
}

h1 {
    margin-left: 5px;
}

h2 {
    margin-left: 5px;
}
h3 {
    margin-left: 5px;
}
#overlay {
    position:absolute;
    color: white;
    text-shadow: 2px,2px,5px, black;
    position: relative;
    bottom: 70px;
}
.overlaysubtitle {
    color: white;
    position: relative;
    bottom: 80px;
    font-size: 20px;
}

.intro {
    margin-top: -80px;
    margin-bottom: 20px;
}
.headline{
font-size: 20px;
}

.price-wrapper{
    background-color: #f5f5f5;
    border-radius: 25px;
    margin: 10px;
    padding: 20px;
}

.typeprice {
    font-style: italic;
    font-size: 12px;
    margin-left: 30px;
}
.price-container{
    position:relative;
    margin-top:0px;
    margin-bottom:50px;
}


#icon {

    margin-left: 30px;
    margin-bottom: 10px;
    max-width: 100px;

}

#icon2 {
    border-style: solid;
    margin-bottom: 20px;
    max-width: 80px;
}

.getPrice {
    position: absolute;
    top: 30%;
    /*vertical-align: */
    left: 65%;
    font-size: 24px;
}


.betterprice {
    font-size: 26px;
}

.bestprice {
    font-size: 28px;
}



.steps{
    text-align: center;
}
.iconsteps {
   display: block;
   margin: auto;
   margin-top: 20px;
}

<style type="text/css">
    .fb_iframe_widget span{
        overflow: initial !important;
    }
    .fb_iframe_widget iframe{
        width: 340px !important;
        height: 500px !important;
    }
</style>
